.HomePage {
  text-align: left;
  background: white;
  box-sizing: border-box;
  flex-grow: 1;
}

  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }

  .container-narrow > hr {
    margin: 40px 0 0 0;
  }